@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Great+Vibes&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Pacifico&family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,600&family=Poppins:wght@200;300;400;500;700&family=Roboto:wght@300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0
}
body{
    font-family: 'Roboto', Georgia, 'Times New Roman', Times, serif;
}
body p{
    font-family: 'Raleway','Courier New', Courier, monospace, sans-serif;
}
/* header */
header{
    width: auto;
    height: auto;
}
#head{
    width: auto;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    position: relative;
}
/* logo */
#logo{
    width: auto;
    height: 100%;
    padding: 10px;
}
#logo-image{
    width: 15vw;
    margin: 0 auto;
}
#logo-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* navigation */
nav{
    position: relative;
    top: 0;
    left: 0;
}
nav ul li{
    display: inline-block;
    padding: 11px;
    font-size: 1rem;
    font-family: 'Raleway','Courier New', Courier, monospace,Georgia, 'Times New Roman', Times, serif;
    list-style: none;
    transition: all .5s ease-in-out;
    font-weight: bold;
}
nav ul li a{
    color: rgb(71, 2, 71);
    text-decoration: none;
}
nav ul li hr{
    width: 0;
    margin-top: 5px;
    background-color: rgb(71, 2, 71);
}
nav ul li:hover hr{
    animation: .5s underline 1;
    animation-fill-mode: forwards;
}
/* .highlightedLi{
    background-color: rgb(26, 2, 26);
} */
nav ul .highlightedLi hr{
    width: 100%;
}
.highlightedLi hr{
    width: 0;
}
@keyframes underline{
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}
/* menu */
#menu{
    width: auto;
    height: 100%;
    text-align: center;
    padding: 10px;
    display: none;
}
#menu i{
    padding: 8px;
    font-size: 2rem;
    border-radius: 10px;
}
/* header ends here */
/* style for our equisite decoration and events */
.OUR_EXQUISITE_DEOCRATIONS_AND_EVENTS{
    text-align: center;
    margin-top: 20px;
}
.OUR_EXQUISITE_DEOCRATIONS_AND_EVENTS hr{
    width: 50px;
    background-color: rgba(72, 9, 72);
    margin-left: 48%;
}
.OUR_EXQUISITE_DEOCRATIONS_AND_EVENTS p{
    font-style: italic;
    font-size: 1.3rem;
    margin-top: 2vh;
}
.OUR_EXQUISITE_DEOCRATIONS_AND_EVENTS h2{
    margin: 10px;
}
/* style for our equisite decoration and events ends here */
/* style for container */
.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}
.image p{
   font-size: .8em;
}
.image{
    width: 250px;
    height: 200px;
    margin: 5px;
    position: relative;
    top: 0;
    left: 0;
    border-radius: 2px;
}
.image img{
    width: 100%;
    height: 80%;
    object-fit: cover;
}
.image img:hover{
    transform: scale(1.1);
    cursor: pointer;
}
#bottom{
    margin-bottom: 40px;
}
/* style for container ends here*/
/* style for footer */
#footer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    width: 100%;
    background-color: rgba(17, 17, 17, 1);
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
}
.footer_div{
    width: 30%;
    height: 100%;
}
.footer_div h3{
    padding: 4px;
    margin-bottom: 10px;
    color: white;
    font-size: 1.4rem;
}
.footer_div h4{
    padding: 4px;
    color: white;
    font-size: 1.2rem;
}
.footer_div p{
    padding: 4px;
    color: white;
    font-size: .9rem;
}
.name{
    padding: 6px;
    border-radius: 8px;
}
.registar_button:hover{
    cursor: pointer;
}
form{
    margin-bottom: 20px;
}
.footer_div i{
    font-size: 1.9rem;
    margin-left: 10px;
    color:white;
}
/* style for footer ends here */
/* style for copy_right */
#copy_right{
    background-color: black;
    color: white;
    text-align: center;
}
#copy_right p{
    padding: 15px;
}
#copy_right p:hover{
    cursor: pointer;
}
/* style for copy_right ends here */
@media screen and (max-width:1000px){
    .OUR_EXQUISITE_DEOCRATIONS_AND_EVENTS h2{
        font-size: .8rem;
    }
    .OUR_EXQUISITE_DEOCRATIONS_AND_EVENTS p{
        font-size: .8rem;
    }
    .image img{
        width: 100%;
    }
    .footer_div{
        width: 80%;
        margin: 0 auto 7% auto;
    }
    .footer_div h3{
        font-size: 1.5rem;
    }
    .footer_div h4{
        font-size: 1rem;
    }
    .footer_div p{
        line-height: 25px;
    }
    #copy_right p{
        font-size: 1rem;
        line-height: 20px;
    }
    .footer_div form .registar_button{
        margin-top: 10px;
    }
}
@media screen and (max-width:800px){
    
    header{
        display: flex;
    }
    #head{
        width: 100%;
    }
    #menu{
        width: 10%;
        align-self: center;
        margin-left: 10%;
        display: block;
    }
    /* logo */
    #logo{
        width: 60%;
    }
    #logo-image{
        width: auto;
        margin: 0 auto;
    }
    /* navigation */
    nav{
        width: 100vw;
        height: auto;
        background-color: #fff;
        padding: 0;
        margin-top: 10px;
        display: none;
        animation: 500ms slide-in 1;
        transition: all .5s ease-in-out;
        z-index: 1;
    }
    @keyframes slide-in{
        0%{
            width: 0;
            transform: translateY(-50%);
        }
        100%{
            width: 100vw;
            transform: translateY(0%);
        }
    }
    nav ul{
        width: 100%;
        height: 100%;
    }
    nav ul li{
        display: block;
        width: 100%;
    }
    nav ul li a{
        color: rgb(71, 2, 71);
    }
    nav ul li:hover{
        background-color: rgb(71, 2, 71);
    }
    nav ul li a:hover li{
        background-color: rgb(71, 2, 71);
    }
    nav ul li:hover a{
        color: #fff;
    }
    nav ul li hr{
        display: none;
    }
    .footer_div form .registar_button{
        margin-top: 10px;
    }
}