@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Great+Vibes&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Pacifico&family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,600&family=Poppins:wght@200;300;400;500;700&family=Roboto:wght@300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
main{
    position: relative;
    top: 0;
    left: 0;
}
/* header */
header{
    width: 100%;
    height: auto;
    display: flex;
    z-index: 3;
    position: sticky;
    top: 0;
    left: 0;
    background-color: rgb(71, 2, 71);
    color: #fff;
}
#head{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    padding: 5px;
}
/* logo */
#logo{
    height: 100%;
    display: flex;
}
#logo-image{
    width: 35%;
    height: 100%;
}
#logo-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#logo-text{
    height: 100%;
    margin-top: 5%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}
#logo-text h1{
    font-size: 2rem;
    font-family:monotype corsiva, 'Lora';
    font-style: italic;
    margin-bottom: 5px;
}
#logo-text p{
    font-size: .8rem;
    font-weight: lighter;
}
/* navigation */
nav{
    position: relative;
    top: 0;
    left: 0;
    padding: 10px;
}
nav ul li{
    display: inline-block;
    padding: 11px;
    font-size: .9rem;
    font-family: 'Raleway','Courier New', Courier, monospace,Georgia, 'Times New Roman', Times, serif;
    list-style: none;
    transition: all .5s ease-in-out;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
}
nav ul li:hover{
    background-color: rgb(26, 2, 26);
}
nav ul li hr{
    width: 0;
    margin-top: 5px;
    background-color: #fff;
}
nav ul li:hover hr{
    animation: .5s underline 1;
    animation-fill-mode: forwards;
}
.highlightedLi{
    background-color: rgb(26, 2, 26);
}
nav ul .highlightedLi hr{
    width: 100%;
}
.highlightedLi a{
    color: #fff;
}
.highlightedLi hr{
    width: 0;
}
@keyframes underline{
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}
/* menu */
#menu{
    width: auto;
    height: 100%;
    text-align: center;
    padding: 10px;
    display: none;
}
#menu i{
    padding: 15px;
    font-size: 2rem;
    border-radius: 10px;
}
#menu i:hover{
    background-color: rgb(42, 1, 42);
}
/* header ends here */
/* style for our equisite decoration */
.OUR_EXQUISITE_DEOCRATIONS_AND_EVENTS{
    text-align: center;
}
.OUR_EXQUISITE_DEOCRATIONS_AND_EVENTS h2{
    margin-bottom: 15px;
    margin-top: 20px;
}
.OUR_EXQUISITE_DEOCRATIONS_AND_EVENTS p{
    margin-top: 15px;
    font-style: italic;
    margin-bottom: 30px;
}
.OUR_EXQUISITE_DEOCRATIONS_AND_EVENTS hr{
    margin-left: 48%;
    background-color: indigo;
}
/* style for our equisite decoration ends here */
/* style for slideshows */
.animations{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.pictures{
    width: 250px;
    height: 30vh;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    margin: 8px;
    border-radius: 1px;
}
.pictures:hover{
    transform: scale(1.1);
    cursor: pointer;
    display: block;
}
.slideshow{
    position: relative;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    animation: 10s slide infinite;
    display: flex;
    animation-direction: alternate;
}
@keyframes slide{
    0%{
        left: 0;
    }
    50%{
        left: -0%;
    }
    53%{
        left: -100%;
    }
    100%{
        left: -100%;
    }
}
.slider{
    width: 50%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
}
.slider_image{
    position: absolute;
    width: 100%;
    height: 100%;
}
.slider_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider_button{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 37%;
    display: none;
}
.slider_image:hover .slider_button{
    display: block;
    animation: 2s comein 1;
}
@keyframes comein{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
.slider_button button{
    padding: 8px;
    background-color: blueviolet;
    border: 1px solid white;
}
.slider_button a button{
    list-style: none;
    text-decoration: none;
    color: white;
}
/* style for slideshows ends here */
@media screen and (max-width:600px){
    .OUR_EXQUISITE_DEOCRATIONS_AND_EVENTS{
        font-size: .8rem;
    }
    .OUR_EXQUISITE_DEOCRATIONS_AND_EVENTS h2{
        font-size: .7rem;
    }
    .OUR_EXQUISITE_DEOCRATIONS_AND_EVENTS p{
        font-size: .7rem;
    }
    .OUR_EXQUISITE_DEOCRATIONS_AND_EVENTS hr{
        font-size: .8rem;
    }
    .animations{
        width: 100%;
    }
}
/* style for footer */
#footer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    width: 100%;
    background-color: rgba(17, 17, 17, 1);
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
}
.footer_div{
    width: 30%;
    height: 100%;
}
.footer_div h3{
    padding: 4px;
    margin-bottom: 10px;
    color: white;
    font-size: 1.4rem;
}
.footer_div h4{
    padding: 4px;
    color: white;
    font-size: 1.2rem;
}
.footer_div p{
    padding: 4px;
    color: white;
    font-size: .9rem;
}
.name{
    padding: 6px;
    border-radius: 8px;
}
.registar_button:hover{
    cursor: pointer;
}
form{
    margin-bottom: 20px;
}
.footer_div i{
    font-size: 1.9rem;
    margin-left: 10px;
    color:white;
}
/* style for footer ends here */
/* style for copy_wright */
#copy_right{
    background-color: black;
    color: white;
    text-align: center;
}
#copy_right p{
    padding: 15px;
}
#copy_right p a{
    color: #fff;
    text-decoration: none;
}
#copy_right p a:hover{
    color: rgb(248, 175, 248);
    text-decoration: underline;
}
/* #copy_right p:hover{
    cursor: pointer;
} */
/* style for copy_wright ends here */
@media screen and (max-width:900px){
    .footer_div form .registar_button{
        margin-top: 10px;
    }
    .footer_div{
        width: 80%;
        margin: 0 auto 7% auto;
    }
    .footer_div h3{
        font-size: 1.5rem;
    }
    .footer_div h4{
        font-size: 1rem;
    }
    .footer_div p{
        line-height: 25px;
    }
    #copy_right p{
        font-size: 1rem;
        line-height: 20px;
    }
}

@media screen and (max-width: 1000px){
    #head{
        flex-direction: column;
        padding: 0;
        width: 85%;
    }
    /* logo */
    #logo{
        width: 100%;
    }
    #logo-image{
        height: auto;
        margin-right: 0;
        padding: 0;
        width: auto;
    }
    #logo-image img{
        height: 100%;
        object-fit: contain;
    }
    #logo-text{
        margin-left: 10px;
        padding: 0;
    }
    #logo-text h1{
        font-size: 1.5rem;
    }
    #logo-text p{
        font-size: .5rem;
    } 
    /* navigation */
    nav{
        width: 80vw;
        height: auto;
        background-color: #fff;
        padding: 0;
        margin-top: 0;
        display: none;
        animation: 500ms slide-in 1;
        transition: all .5s ease-in-out;
    }
    @keyframes slide-in{
        0%{
            width: 0;
            transform: translateY(-50%);
        }
        100%{
            width: 80vw;
            transform: translateY(0%);
        }
    }
    nav ul{
        width: 100%;
    }
    nav ul li{
        display: block;
        width: 100%;
    }
    nav ul li a{
        color: #000;
    }
    nav ul li:hover a{
        color: #fff;
    }
    nav ul li hr{
        display: none;
    }
    /* menu */
    #menu{
        display: block;
    }
}
@media screen and (max-width: 900px){
    #head{
        flex-direction: column;
        padding: 0;
        width: 85%;
    }
    /* logo */
    #logo{
        width: 100%;
    }
    #logo-text h1{
        font-size: 1.5rem;
    }
    #logo-text p{
        font-size: .5rem;
    } 
    /* navigation */
    nav{
        width: 100vw;
        height: auto;
        background-color: #fff;
        padding: 0;
        margin-top: 10px;
        display: none;
        animation: 500ms slide-in 1;
        transition: all .5s ease-in-out;
    }
    @keyframes slide-in{
        0%{
            width: 0;
            transform: translateY(-50%);
        }
        100%{
            width: 100vw;
            transform: translateY(0%);
        }
    }
    nav ul{
        width: 100%;
    }
    nav ul li{
        display: block;
        width: 100%;
    }
    nav ul li a{
        color: #000;
    }
    nav ul li:hover a{
        color: #fff;
    }
    nav ul li hr{
        display: none;
    }
    /* menu */
    #menu{
        display: block;
    }
}